HelloworldWeb/WebContent/WEB-INF/wsdl/HelloworldSessionBeanService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://libertysample.tcs.com/" targetNamespace="http://libertysample.tcs.com/" version="1.0">

  <xs:element name="helloworld" type="tns:helloworld"/>

  <xs:element name="helloworldResponse" type="tns:helloworldResponse"/>

  <xs:complexType name="helloworld">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="helloworldResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
